<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="adminFragments::head"></head>

<body>

<nav th:replace="adminFragments::navbar"></nav>


<div class="row">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">
        <div class="card">
            <div class="card-header text-center"><h4 class="display-4">Add Product</h4>
                <p class="text-center text-muted">* Required Fields</p>
            </div>
            <div class="card-body">

                <form th:action="@{/admin/supply/add}" method="post" th:object="${product}">

                    <!-- Product Name -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="name" class="col-sm-4">* Product</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name"
                                       placeholder="Enter Product Name" required="required" name="name"
                                       th:value="${product.name}"/>
                            </div>
                        </div>
                    </div>

                    <!-- Main Color -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="color" class="col-sm-4">* Main Color</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:value="${product.color}" id="color"
                                        name="color">
                                    <option value="" disabled="disabled" selected="selected">Select Main Color</option>
                                    <option value="Red" th:selected="(${product.color} == 'Red')">
                                        Red
                                    </option>
                                    <option value="Blue" th:selected="(${product.color} == 'Blue')">Blue
                                    </option>
                                    <option value="Black" th:selected="(${product.color} == 'Black')">
                                        Black
                                    </option>
                                    <option value="Brown" th:selected="(${product.color} == 'Brown')">
                                        Brown
                                    </option>
                                    <option value="Orange" th:selected="(${product.color} == 'Orange')">Orange
                                    </option>
                                    <option value="Gray" th:selected="(${product.color} == 'Gray')">
                                        Gray
                                    </option>
                                    <option value="Yellow" th:selected="(${product.color} == 'Yellow')">
                                        Yellow
                                    </option>
                                    <option value="Green" th:selected="(${product.color} == 'Green')">
                                        Green
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="category" class="col-sm-4">* Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:value="${product.category}" id="category"
                                        name="category">
                                    <option value="" disabled="disabled" selected="selected">Select Category</option>
                                    <option value="Backpacks" th:selected="(${product.category} == 'Backpacks')">
                                        Backpacks
                                    </option>
                                    <option value="Clothing" th:selected="(${product.category} == 'Clothing')">Clothing
                                    </option>
                                    <option value="Camping Gear" th:selected="(${product.category} == 'Camping Gear')">
                                        Camping Gear
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Subcategory -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="subCategory" class="col-sm-4">Sub-Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:value="${product.subCategory}" id="subCategory"
                                        name="subCategory">
                                    <option value="" disabled="disabled" selected="selected">Select Subcategory</option>
                                    <!-- <h5 class="dropdown-header">Backpacks</h5> -->
                                    <option value="" disabled="disabled">---Backpack---</option>
                                    <option value="Day Pack" th:selected="(${product.subCategory} == 'Day Pack')">
                                        Day
                                        Pack
                                    </option>
                                    <option value="Hike Pack" th:selected="(${product.subCategory} == 'Hike Pack')">
                                        Hike
                                        Pack
                                    </option>
                                    <option value="Camping Pack"
                                            th:selected="(${product.subCategory} == 'Camping Pack')">
                                        Camping Pack
                                    </option>
                                    <option value="" disabled="disabled">---Clothing---</option>
                                    <div class="dropdown-divider"></div>
                                    <!-- <h5 class="dropdown-header">Clothing</h5> -->
                                    <option value="Shirt" th:selected="(${product.subCategory} == 'Shirt')">Shirt
                                    </option>
                                    <option value="Shoes" th:selected="(${product.subCategory} == 'Shoes')">Shoes
                                    </option>
                                    <option value="Coat" th:selected="(${product.subCategory} == 'Coat')">Coat
                                    </option>
                                    <option value="" disabled="disabled">---Camp Gear---</option>
                                    <div class="dropdown-divider"></div>
                                    <!--  <h5 class="dropdown-header">Camping Gear</h5> -->
                                    <option value="Tent" th:selected="(${product.subCategory} == 'Tent')">Tent
                                    </option>
                                    <option value="Sleeping Bag"
                                            th:selected="(${product.subCategory} == 'Sleeping Bag')">
                                        Sleeping Bag
                                    </option>
                                    <option value="Cooking Gear"
                                            th:selected="(${product.subCategory} == 'Cooking Gear')">
                                        Cooking Gear
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Gender -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="gender" class="col-sm-4">* Gender</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:value="${product.gender}" id="gender"
                                        name="gender">
                                    <option value="" disabled="disabled" selected="selected">Select Gender</option>
                                    <option value="Men" th:selected="(${product.gender} == 'Men')">
                                        Men
                                    </option>
                                    <option value="Women" th:selected="(${product.gender} == 'Women')">Women
                                    </option>
                                    <option value="Children" th:selected="(${product.gender} == 'Children')">
                                        Children
                                    </option>
                                    <option value="Any" th:selected="(${product.gender} == 'Any')">
                                        Any
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Company -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="company" class="col-sm-4">* Company</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="company"
                                       placeholder="Enter Company Name" required="required" name="company"
                                       th:value="${product.company}"/>
                            </div>
                        </div>
                    </div>

                    <!-- Company Website -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="companyWebsite" class="col-sm-4">* Company Website</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="companyWebsite"
                                       placeholder="Enter Company Website" required="required" name="companyWebsite"
                                       th:value="${product.companyWebsite}"/>
                            </div>
                        </div>
                    </div>

                    <!-- Number in Stock -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="numberOfStock" class="col-sm-4">* Number In Stock</label>
                            <div class="col-sm-8">
                                <input type="number" step="1" class="form-control" id="numberOfStock"
                                       placeholder="Enter Number In Stock" required="required" name="numberOfStock"
                                       th:value="${product.numberOfStock}"/>
                            </div>
                        </div>
                    </div>

                    <!-- List Price -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="listPrice" class="col-sm-4">* List Price</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="number" step="any" class="form-control" id="listPrice"
                                           placeholder="Enter List Price" required="required" name="listPrice"
                                           th:value="${product.listPrice}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Our Price -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="ourPrice" class="col-sm-4">* Our Price</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="number" step="any" class="form-control" id="ourPrice"
                                           placeholder="Enter Our Price" required="required" name="ourPrice"
                                           th:value="${product.ourPrice}"/></div>
                            </div>
                        </div>
                    </div>

                    <!-- Weight -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="weight" class="col-sm-4">* Weight</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" step="any" class="form-control" id="weight"
                                           placeholder="Enter Weight" required="required" name="weight"
                                           th:value="${product.weight}"/>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Pounds</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Size -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="size" class="col-sm-4">* Size</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:value="${product.size}" id="size"
                                        name="size">
                                    <option value="" disabled="disabled" selected="selected">Select Size</option>
                                    <option value="Small" th:selected="(${product.size} == 'Small')">
                                        Small
                                    </option>
                                    <option value="Medium" th:selected="(${product.size} == 'Medium')">Medium
                                    </option>
                                    <option value="Large" th:selected="(${product.size} == 'Large')">
                                        Large
                                    </option>
                                    <option value="X-Large" th:selected="(${product.size} == 'X-Large')">
                                        X-Large
                                    </option>
                                    <option value="Normal" th:selected="(${product.size} == 'Normal')">
                                        Regular
                                    </option>
                                    <option value="Long" th:selected="(${product.size} == 'Long')">
                                        Long
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Image URL -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="imgUrl" class="col-sm-4 col-form-label">* URL of Image</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" id="imgUrl" rows="3"
                                        placeholder="Enter URL of image" name="imgUrl"
                                        th:value="${product.imgUrl}" th:utext="${product.imgUrl}"></textarea>
                                <small class="form-text text-muted">Add Image at <a href="https://imgbb.com/"
                                                                                    target="_blank">imgbb.com</a>
                                    to
                                    get a URL for image.
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="description" class="col-sm-4 col-form-label">* Description</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" id="description" rows="5"
                                        placeholder="Enter Description" name="description"
                                        th:value="${product.description}" th:utext="${product.description}"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Active/Inactive -->
                    <div class="form-group">
                        <div class="form-row">
                            <label for="active" class="col-sm-4 ">* Status</label>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input value="true" th:value="${product.active}" type="radio" name="active" id="active"
                                           class="form-check-input" checked="checked"/><label
                                        class="form-check-label" for="active">
                                    Active </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input value="true" th:value="${product.active}" type="radio" name="inactive" id="inactive"
                                           class="form-check-input"/><label class="form-check-label" for="inactive">
                                    Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Add Product</button>
                    <a class="btn btn-warning" th:href="@{/admin/supply}">Cancel</a>

                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<!--- Footer -->
<footer th:replace="adminFragments::footer"></footer>

</body>

</html>
