<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments::head"></head>

<body>

<nav th:replace="fragments::navbar"></nav>

<div class="bg2">

    <div class="row">
        <div class="col"></div>

        <div class="col-sm-12 col-md-8">

            <!-- Number One -->
            <div class="accordion" id="accordion">
                <div class="card" style="margin-top: 0px">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Who We Are
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Hike &amp; Go Co. is a supplier of camping and outdoor equipment. We sell all items at a
                            discount to provide the best prices for our customers. We look to satisfy 100% of all
                            potential and returning customers.<br/> We also provide hiking and outdoor trips all across
                            North America. Whether traveling solo or in a group. We look for the most exciting and
                            majestic places to explore.
                        </div>
                    </div>
                </div>

                <!-- Number Two -->
                <div class="card" style="margin-top: 0px">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Our History
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            We looked around and saw outrageous prices for equipment that was marked up close to 300% of
                            what they should be and decided it shouldn't be like that. We wanted to change that and make
                            sure more people were getting out exploring, not letting finances get in the way of that.
                        </div>
                    </div>
                </div>

                <!-- Number Three -->
                <div class="card" style="margin-top: 0px">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Our Trips
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            We love taking trips and exploring new places. Why wouldn't we want to share that? We try to
                            make it as affordable and unique as possible. Whether an amateur adventurer or an expert
                            explorer, we try to help find the right trip just for you.
                        </div>
                    </div>
                </div>

                <!-- Number Four -->
                <div class="card" style="margin-top: 0px">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Refunds
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Please contact us with any issues or questions you may have. We strive to provide all
                            reasonable accommodations to give you your money back if you aren't completely satisfied.
                        </div>
                    </div>
                </div>

                <!-- Number Five -->
                <div class="card" style="margin-top: 0px">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Random Fact
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Abraham Lincoln once hiked across the Ozarks only to get lost for five months, where he grew
                            his big beard.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>

</div>
<!--- Footer -->

<footer th:replace="fragments::footer"></footer>

</body>

</html>
