<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments::head"></head>

<body>

<nav th:replace="fragments::navbar"></nav>

<div class="bg-profile">

   <!-- <div class="row">
        <div class="col">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-6"><h3 class="text-center display-4" th:text="${#strings.toUpperCase(user.firstName)}">Name</h3></div>
        <div class="col">
        </div>
    </div> -->



    <!-- Card Tabs -->
    <div class="row">
        <div class="col"></div>
        <div class="col-xs-12 col-sm-10 col-md-9">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myProfileTab" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="true" th:classappend="${classActiveEdit} ? ' active'">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="supply-tab" data-toggle="tab" href="#supply" role="tab" aria-controls="supply" aria-selected="false" th:classappend="${classActiveSupplyOrders} ? ' active'">Supply Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="false" th:classappend="${classActiveTravelOrders} ? ' active'">Travel Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false" th:classappend="${classActiveBilling} ? ' active'">Billing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false" th:classappend="${classActiveShipping} ? ' active'">Shipping</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">

                        <!-- Edit Tab -->
                        <div class="tab-pane show " id="edit" role="tabpanel" aria-labelledby="edit-tab" th:classappend="${classActiveEdit} ? 'show active'">
                            <h3>Edit</h3>
                            <form th:action="@{/updateUserInfo}" method="post">
                                <input type="hidden" name="id" th:value="${user.id}" />
                                <div class="alert alert-success" th:if="${updateUserInfoSuccess}">User info updated.</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" required="required" />
                                        </div>
                                        <div class="col">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" required="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="currentPassword">Current Password</label>
                                    <input type="text" class="form-control" id="currentPassword" name="currentPassword" th:value="${currentPassword}" required="required" />
                                    <small id="passwordHelp" class="form-text text-muted">Please enter your current password in order to change it.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"  required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"  required="required" />
                                </div>

                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>

                        <!-- Supply Orders Tab -->
                        <div class="tab-pane " id="supply" role="tabpanel" aria-labelledby="suply-tab" th:classappend="${classActiveSupplyOrders} ? ' show active'">
                            <h3>Supply Orders</h3>
                            <hr/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione similique sapiente ad possimus eligendi facilis temporibus sit, explicabo aut et cumque suscipit amet minima quidem? Ex vero soluta rem, laboriosam.</p>
                        </div>

                        <!-- Travel Orders Tab -->
                        <div class="tab-pane " id="travel" role="tabpanel" aria-labelledby="travel-tab" th:classappend="${classActiveTravelOrders} ? ' show active'">
                            <h3>Travel Orders</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae, quisquam cumque minima quae cum repellendus fugit quos dignissimos eveniet quas placeat autem accusantium nisi consectetur voluptatem veritatis at ea!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum adipisci veritatis reprehenderit aliquam voluptate in, repellat velit magnam doloremque. Aut, cupiditate eius placeat iure nostrum accusantium itaque sit culpa.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae, quisquam cumque minima quae cum repellendus fugit quos dignissimos eveniet quas placeat autem accusantium nisi consectetur voluptatem veritatis at ea!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum adipisci veritatis reprehenderit aliquam voluptate in, repellat velit magnam doloremque. Aut, cupiditate eius placeat iure nostrum accusantium itaque sit culpa.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae, quisquam cumque minima quae cum repellendus fugit quos dignissimos eveniet quas placeat autem accusantium nisi consectetur voluptatem veritatis at ea!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum adipisci veritatis reprehenderit aliquam voluptate in, repellat velit magnam doloremque. Aut, cupiditate eius placeat iure nostrum accusantium itaque sit culpa.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae, quisquam cumque minima quae cum repellendus fugit quos dignissimos eveniet quas placeat autem accusantium nisi consectetur voluptatem veritatis at ea!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum adipisci veritatis reprehenderit aliquam voluptate in, repellat velit magnam doloremque. Aut, cupiditate eius placeat iure nostrum accusantium itaque sit culpa.</p>

                        </div>

                        <!-- Billing Tab -->
                        <div class="tab-pane " id="billing" role="tabpanel" aria-labelledby="billing-tab" th:classappend="${classActiveBilling} ? ' show active'">
                            <h3>Billing Information</h3>
                        </div>

                        <!-- Shipping Tab -->
                        <div class="tab-pane " id="shipping" role="tabpanel" aria-labelledby="shipping-tab" th:classappend="${classActiveShipping} ? ' show active'">
                            <h3>Shipping Information</h3>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<!--- Footer -->
<footer th:replace="fragments::footer"></footer>

</body>

</html>
