<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments::head"></head>

<body>

<nav th:replace="fragments::navbar"></nav>

<div class="container" style="padding-top: 15px">

    <div class="container">
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/travel}">Go Back</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/updateTravel?id=} + ${travel.id}">Edit</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img th:src="${travel.imgUrl}" class="img-fluid"/>
                </div>
            </div>
            <div class="col-md-9">
                <h3 th:text="${travel.name}"></h3>
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Location: </strong><span th:text="${travel.location}"></span></p>
                        <p><strong>Start Date: </strong><span th:text="${travel.startDate}"></span></p>
                        <p><strong>End Date: </strong><span th:text="${travel.endDate}"></span></p>
                    </div>
                    <div class="col-sm-6">
                        <p><strong>Experience Level: </strong><span th:text="${travel.experience}"></span></p>
                        <p><strong>Our Price: </strong><span th:text="${travel.ourPrice}"></span></p>
                        <p><strong>Max Number of People: </strong><span th:text="${travel.maxPeope}"></span></p>
                    </div>
                </div>

                <p><strong>Description: </strong><span th:utext="${travel.description}"></span></p>
            </div>
        </div>
    </div>
</div>

<!--- Footer -->
<footer th:replace="fragments::footer"></footer>

</body>

</html>
