<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments::head"></head>

<body>

<nav th:replace="fragments::navbar"></nav>

<div class="row">
    <div class="col-sm-3">
        <h3><label for="category">Category</label></h3>
       <!-- <div class="list-group" id="category">
            <a th:href="@{/productList(category='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
            <a th:href="@{/searchByCategory(category='Backpacks')}" th:classappend="${activeBackpacks}? ' active'" class="list-group-item">Backpacks</a>
            <a th:href="@{/searchByCategory(category='Clothing')}" th:classappend="${activeClothing}? ' active'" class="list-group-item">Clothing</a>
            <a th:href="@{/searchByCategory(category='Camping Gear')}" th:classappend="${activeHistory}? ' active'" class="list-group-item">Camping Gear</a>
        </div> -->
    </div>

    <div class="col-sm-9">
        <div th:if="${emptyList}">
            <h5>No results found. Please search again.</h5>
        </div>
        <div class="card" style="margin-top: 0em">
            <div class="card-body">
                <table class="table table-hover" id="tripListTable">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Current Trips</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product-item" th:each="trip : ${tripList}">
                        <td>
                            <div th:if="${trip != null}">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a th:href="@{/tripDetail?id=} + ${trip.id}">
                                            <img th:src="${trip.imgUrl}" class="img-fluid"/></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <a th:href="@{/tripDetail?id=} + ${trip.id}"><h4
                                                th:text="${trip.name}"></h4></a>
                                        <br/>
                                       <!-- <span><p><button type="button" class="btn btn-lg btnCenter" data-toggle="modal"
                                                         th:attr="data-target='.' + ${trip.id} +'-modal-lg'" th:text="${trip.name} + ' Tour Video'"></button></p></span> -->
                                        <p><strong>Location: </strong><span th:text="${trip.locationCity} +
                                        ', ' + ${trip.locationState} + ' ' + ${trip.locationCountry}"></span></p>
                                        <p style="font-size: small;"><span th:text="${trip.features}"></span></p>
                                        <p style="margin-bottom: 0rem"><strong>Start Date: </strong><span th:text="${trip.startDate}"></span></p>
                                        <p><strong>Number of days: </strong><span th:text="${trip.numOfDays}"></span></p>
                                        <p><strong>Required Experience: </strong><span th:text="${trip.experience}"></span></p>
                                        <span style="font-size: large; color: green">$<span
                                                th:text="${#numbers.formatDecimal(trip.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                        <br/>
                                        <p th:utext="${#strings.abbreviate(trip.description, 500)}"></p>
                                        <!-- Video Modal -->
                                       <!-- <div class="modal fade " th:classappend="${trip.id} + '-modal-lg'" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item " th:src="${trip.videoUrl}" allowfullscreen="allowfullscreen" allow="autoplay"></iframe>
                                                    </div>
                                                    <p class="socialWrapper text-center"><strong th:text="${trip.name} + ' Video'"></strong></p>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!--- Footer -->
<footer th:replace="fragments::footer"></footer>

<span th:replace="fragments::scripts"></span>

<script>
    $(document).ready(function(){
        $("#tripListTable").DataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            "ordering": false,
            statesave: true
        });
    });
</script>

</body>

</html>
